.wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.left {
    padding: 10px;

}

.right {
    padding: 10px;
}

.footer {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}