<div class="wrapper">
    <h1>Оформление заказа</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="vendor">
            <th mat-header-cell *matHeaderCellDef> Производитель </th>
            <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
            <td mat-footer-cell *matFooterCellDef> Итого: </td>
        </ng-container>


        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef> Модель </th>
            <td mat-cell *matCellDef="let element">
                {{element.model}}

            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Цена </th>
            <td mat-cell *matCellDef="let element"> {{element.price | number}} руб. </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Количество </th>
            <td mat-cell *matCellDef="let element">
                {{element.quantity}}
            </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | number}} руб. </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="footerColumns"></tr>
    </table>
    <div class="button-panel">
        <button mat-raised-button (click)="goBack()">Назад</button>
    </div>
    <mat-stepper linear #stepper>
        <mat-step [stepControl]="orderTypeFormGroup">
            <form [formGroup]="orderTypeFormGroup">
                <ng-template matStepLabel>Выберите способ получения товара</ng-template>
                <mat-label>Способ получения</mat-label>
                <mat-radio-group formControlName="orderType">
                    <mat-radio-button *ngFor="let orderType of orderTypeList" [value]="orderType.id">{{orderType.value}}
                    </mat-radio-button>

                </mat-radio-group>
                <div>
                    <button mat-button matStepperNext>Дальше</button>
                </div>

            </form>

        </mat-step>

        <mat-step [stepControl]="deliveryFormGroup">
            <form [formGroup]="deliveryFormGroup">
                <ng-template matStepLabel>Выберите параметры доставки</ng-template>
                <div [ngSwitch]="orderTypeFormGroup.value.orderType">
                    <div *ngSwitchCase="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Выберите магазин</mat-label>
                            <mat-select formControlName="shop">
                              <mat-option *ngFor="let shop of shopList; let i = index" value={{i}}>{{shop.title}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                    </div>
                    <div *ngSwitchCase="2">
                        <p>Задайте адрес</p>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Назад</button>
                        <button mat-button matStepperNext>Дальше</button>
                    </div>
                </div>
                
            </form>
            <p>{{deliveryFormGroup.value | json}}</p>
        </mat-step>
        <mat-step [stepControl]="paymentFormGroup">
            <form [formGroup]="paymentFormGroup">
                <ng-template matStepLabel>Выберите способ оплаты</ng-template>
                Способ оплаты
                <div>
                    <button mat-button matStepperPrevious>Назад</button>

                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>