.button-panel {
    display: flex;
    gap: .7rem;
    margin-top: 1rem;
}

img {
    margin: 1rem;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: .5rem;
}

.deliveryAddress {
    width: auto;
}

.content {
    margin: .5rem;
}

.check-row {
    display: flex;
    gap: .5rem;
    margin: .5rem;
    justify-content: center;
}

mat-form-field {
    flex: 1;
}

.flexable {
    display: flex;
}



