<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile *ngFor="let ski of skis" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title-group>
          <mat-card-title>
            {{ski.vendor}}
          </mat-card-title>
          <mat-card-subtitle>{{ski.model}}</mat-card-subtitle>


        </mat-card-title-group>
        <mat-card-content class="dashboard-card-content">
          <div>
            <img src="/assets/data-images/{{ski.id}}-sm.jpg">
          </div>
          <div>Price: {{ski.price | number}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>